$gray-100: #F7F7F7;
$gray-300: #EDEDED;
$gray-600: #738796;
$gray-800: #2A3F54;

$blue:    #004F9F;
$cyan:    #17A2B8;

$primary: $blue;
$secondary: $cyan;
$light: $gray-100;
$dark: $gray-800;

$headings-font-family: 'Droid Sans';




