@import 'http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css';
/* General Styles */
h1,h2,h3,h4,h5,h6{
    font-family: "Droid Sans", sans-serif;
    color: #004e9e;
}



/* Main Containers */
#body-row {
    margin-left: 0;
    margin-right: 0;
}
/* Top Nav */
#topnav {
    background-color: #EEE;
    justify-content: space-between;
}

#topnav switch{
    width: 130px;
}

#date-input input{
    width: 220px;
}
.react-datepicker__close-icon{
    right: 20px !important;
}

.react-datepicker__close-icon::after{
    background-color: #ced4da !important;
}

/* Sidebar */
#sidebar {
    min-height: 100vh;
    background-color: #333;
    padding: 0;
    width: 250px;
}

#sidebar .list-group a {
    height: 50px;
    color: white;
    cursor: pointer;
}

#sidebar .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: .9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

/* DEBUG */
.debug {
    border: 1px solid red;
}

/* Scenario view */
.scenario-list {
    display: table;
    width: 100%;
    border-left: 3px solid #004f9f;
    border-collapse: collapse;
}

.scenario-list .scenario-list {
    margin-left: 1rem ;
    width: calc(100% - 1rem);

}

.scenario-header {
    display: flex;
    align-items: flex-start;
    column-span: all;
    width: 100%;
    font-weight: bold;
    font-variant: all-small-caps;
    background-color: #5a6268;
    color: #EEE;
}

.scenario-header .header-toggle {
    display: block;
    float: left;
}

.scenario-header > div{
    padding: 0.3rem;
    padding-left: 0.5rem;
    vertical-align: top;
}

.scenario-list table{
    margin-bottom: 0;
}

.scenario-list .table thead th {
    font-variant: all-small-caps;
    background-color: #FFF;
}

.scenario-list a.scenario-header-control {
    display: table-row;
}

.scenario-list a {
    color: #515563;
}

.scenario-list a:hover {
    text-decoration: none;
}

.sort-icon{
    float: right;
}

#alarmtable th:first-child{
    width: 30%;
}

.alarm-heading {
    padding: 0.3rem;
    padding-left: 0.5rem;
    vertical-align: top;
    background-color: #e9ecef;
}

.alarm {
    display: table-row;
    width: 100%;
}
.alarm:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.alarm > div {
    display: table-cell;
    padding: 0.3rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}

.alarm > div:first-child {
    min-width: 150px;
}

.alarm > div:nth-child(2) {
    min-width: 50px;
}