h1,h2,h3,h4,h5,h6{
    font-family: "Droid Sans", sans-serif;
}
h3, a{
    color: #004f9f;
}

.bg-dark {
    background-color: #2a3f54 !important;
}

#wrapper{
    min-height: 100%;
}

#logo {
    background-color: #ededed;
    text-align: center;
    height: 65px;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 5px solid #17a2b8;
}
.top_nav .nav_menu{
    height: 65px;
    border-bottom: 5px solid #17a2b8;
}

.sidebar-footer a {
    width: 100%;
}
.nav.side-menu > li.active > a {
    box-shadow: none;
}
.top_search {
    margin: 0;
}

.top_search .input-group{
    margin: 0;
}

/* Sidebar */
#sidebar {
    min-height: 100vh;
    background-color: #333;
    padding: 0;
    width: 250px;
}
.x_content h4:not(:first-child)  {
    padding-top: 1rem;
}

#sidebar .nav-item {
    border: none !important;
}

#sidebar .nav-item a {
    height: 50px;
    color: white;
    cursor: pointer;
    padding-left: 2rem;
    border: none !important;
}

#sidebar li.active {
    background-color: rgba(255, 255, 255, 0.05);
}

#sidebar .nav-item .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;

}

#logo, #logo_small {
    display: none;
}
#logo.visible, #logo_small.visible {
    display: block;
}

#logo_small {
    padding-left: 5px;
}



.sidebar-submenu {
    font-size: .9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #172D44;
    height: 35px;
    color: #f1f1f1;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}